<template>
  <div>
    <div style="display: flex;">
      <div v-if="offline" class="window-body" style="text-align: center">
        <input v-model="username" placeholder="usuario" type="text"></input><br>
        <input v-model="password" @keydown.enter="authenticate" placeholder="clave" type="password"></input><br><br>
        <div v-show="!message">
            <button @click="register">Registrarse</button>
            <button @click="authenticate">Entrar</button>
        </div>
        <div v-if="message" class="alert" v-text="message"></div>
      </div>
      <div v-if="!offline" class="window-body">
        <span class="oi oi-key" data-glyph="lock-key"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{ user.is.alias }}
      </div>
      <button style="min-width: unset" v-if="!offline"
          @click="user.leave(); offline=true; password=''">
          <span class="oi oi-account-logout"></span>
      </button>
    </div>
  </div>
</template>

<script lang="python">

class Component:

    def __init__(self):
        self.user = {}
        self.username = localStorage.getItem('last_username') or ''
        self.password = ''
        self.offline = True
        self.message = None

    def MOUNTED(self):
        window.auth = self
        self['$gun'].on('auth', self.signIn)
        self.user = self['$gun'].user()
        self.user.recall({'sessionStorage':True}, self.result)

    async def authenticate(self):
        user = await self['$gun'].get('~@'+self.username, {'wait':2000})
        if user:
            self.user.auth(self.username, self.password, self.result)
            self.user.recall({'sessionStorage':True}, self.result)
        else:
            self.result({'err':'Unable to login'})

    def signIn(self):
        if self.user.get('is'):
            self.offline = False
            localStorage.setItem('last_username', self.user['is'].alias)

    def clearMsg(self):
        self.message = None

    def result(self, res):
        if 'err' in res:
            self.message = res.err
            setTimeout(self.clearMsg, 5000)

    def register(self):
        self.user.create(self.username, self.password)

</script>

<style scoped>

:scope {
    padding: 5px;
    align-self: center;
}

.alert {
    font-family: "Perfect DOS VGA 437 Win";
    background-color: blue;
    color: yellow;
    text-align: center;
    height: 23px;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 5px;
}

</style>
