<template>
  <div class="window-body" style="justify-content: center; flex-wrap: wrap; display: flex; flex-direction: row">
    <button class="mainmenu" @click="$root.$emit('open-products-window')"><span class="oi oi-box"></span>&nbsp;<p>Productos</p></button>
    <button class="mainmenu"><span class="oi oi-people"></span>&nbsp;<p>Proveedores</p></button>
    <button class="mainmenu"><span class="oi oi-clipboard"></span>&nbsp;<p>Órdenes</p></button>
  </div>
</template>

<script lang="python">

class Component:
    pass

</script>

<style scoped>
:scope {
    margin: 0px 0px 8px 0px;
}
.mainmenu {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
}
.mainmenu > * > span.oi {
    justify-content: center;
    font-size: 4em;
}
.mainmenu > p {
    padding-left: 7px;
}
</style>
