<template>
    <div>
    <div class="window">
    <div class="title-bar">
    <div class="title-bar-text">Órdenes</div>
    <div class="title-bar-controls">
    <button @click="minimized=!minimized" aria-label="Minimize"></button>
    </div>
    </div>
    <div v-show="!minimized" class="window-body">

      <section class="tabs">
     
        <button @click="tab=0" :class="[ 'tab-title',  tab==0? 'active':'' ]" id="tab-A">Ítem</button>
        <button @click="tab=1" :class="[ 'tab-title',  tab==1? 'active':'' ]" id="tab-B">Todos</button>
        <button @click="tab=2" :class="[ 'tab-title',  tab==2? 'active':'' ]" id="tab-C">JSON</button>
     
        <article :class="[ 'tab-content', tab==0? 'active':'' ]" for="tab-A">
          <u><b>Orden</b></u>
          <p>Descripción de la órden.</p>
        </article>
        <article :class="[ 'tab-content', tab==1? 'active':'' ]" for="tab-B">
          <vue-spreadsheet-lite v-if="data.length>0"
              :data="data" :header="header()"/>
          <button @click="newItem">Nueva orden</button>
        </article>
        <article :class="[ 'tab-content', tab==2? 'active':'' ]" for="tab-C">
          <pre>{{ ordenes }}</pre>
        </article>
     
      </section>

    </div>
    </div>
    <br />
    </div>
</template>

<script lang="python">

class Component:

    def __init__(self):
        self.ordenes = {}
        self.tab = 0
        self.minimized = false

    def CREATED(self):
        self['$gun'].get('ordenes').map().on(
            lambda node, key: self.add_order(key, node))

    def add_order(self, key, node):
        Vue.set(self.ordenes, key, node)

    def COMPUTED_data(self):
        return [[item, self.ordenes[item].name, self.ordenes[item].price]
            for item in self.ordenes]

    def newItem(self):
        pass

</script>
