<template>
    <div v-if="!closed">
    <div class="window">
    <div class="title-bar">
    <div class="title-bar-text">Productos</div>
    <div class="title-bar-controls">
    <button @click="minimized=!minimized" aria-label="Minimize"></button>
    <button @click="closed=true" aria-label="Close"></button>
    </div>
    </div>
    <div v-show="!minimized" class="window-body">

      <section class="tabs">
     
        <button @click="prod_tab=0" :class="[ 'tab-title',  prod_tab==0? 'active':'' ]" id="tab-A">Buscar</button>
        <button @click="prod_tab=1" :class="[ 'tab-title',  prod_tab==1? 'active':'' ]" id="tab-B">Ítem</button>
        <button @click="prod_tab=2" :class="[ 'tab-title',  prod_tab==2? 'active':'' ]" id="tab-C">Todos ({{ data.length }})</button>
        <button @click="prod_tab=3" :class="[ 'tab-title',  prod_tab==3? 'active':'' ]" id="tab-D">JSON</button>
     
        <article :class="[ 'tab-content', prod_tab==0? 'active':'' ]" for="tab-A">
            <div style="display: flex; justify-content: center;">
            <p style="display: flex; flex: 0.7 1 auto">
            <span class="oi oi-magnifying-glass logo"></span>
            <input style="display:flex; flex: 0.9 1 auto" type="text" v-model="query"></input></p>
            </div>
            <fieldset v-if="query_result.length > 0">
              <legend>Resultados</legend>
              <div>
                  <ul class="tree-view">
                      <li v-for="item in query_result">{{ item.name }}</li>
                  </ul>
              </div>
            </fieldset>
        </article>

        <article :class="[ 'tab-content', prod_tab==1? 'active':'' ]" for="tab-B">
          <u><b>Producto</b></u>
          <p>
          <select v-model="selected">
              <option v-for="item in data" :value="item[0]">{{ item[1] }}</option>
          </select>
          </p>
          <div v-if="productos[selected]">
          <p>{{ productos[selected].description || 'Sin descripción.' }}</p>
          <hr style="height: 1px; border: none; background-color: black" />
          <p>
          <button @click="remove_product(selected)">Borrar <span class="oi oi-delete"></span></button>
          </p>
          <fieldset>
            <legend>Categorías</legend>
            <div v-for="item in categories" class="field-row">
              <input :id="item" :value="item" type="checkbox"
                     v-model="checkedCategories" @change="change_tag">
              <label :for="item">{{item}}</label>
            </div>
          </fieldset>
          </div>
        </article>
        <article :class="[ 'tab-content', prod_tab==2? 'active':'' ]" for="tab-C">
          <vue-spreadsheet-lite v-if="data.length>0" @update="update_product"
              :data="data" :header="product_header()"/>
          <br>
          <button @click="new_product">
              Nuevo producto &nbsp;<span class="oi oi-plus"></span>
          </button>
        </article>
        <article :class="[ 'tab-content', prod_tab==3? 'active':'' ]" for="tab-D">
          <p>
            <pre>{{ productos }}</pre>
          </p>
        </article>
     
      </section>

    </div>
    </div>
    <br />
    </div>
</template>

<script lang="python">

class Component:

    def __init__(self):
        self.productos = {}
        self.prod_tab = 0
        self.minimized = false
        self.selected = None
        self.checkedCategories = []
        self.closed = false
        self.query = ''

    def CREATED(self):
        self['$gun'].get('productos').map().on(
            lambda node, key: self.add_product(key, node))
        window.model = self

    def show(self):
        self.closed = false

    def MOUNTED(self):
        self['$root']['$on']('open-products-window', self.show)

    def add_product(self, key, node):
        if len(key) > 7:
            if self.productos.get(key)!=node:
                Vue.set(self.productos, key, node)
            if not self.selected:
                self.selected = key

    def remove_product(self, key):
        prod = self['$gun'].get('productos').get(key)
        if prod:
            prod.put(None)

    def new_product(self):
        newindex = Date.now()+'_'
        newvalue = {'name': '', 'unit': '', 'description': ''}
        Vue.set(self.productos, newindex, newvalue)
        self['$gun'].get('productos').get(newindex).put(newvalue)

    def update_product(self, productos):
        for item in productos:
            if self.productos.get(item[0]) and \
                      (self.productos[item[0]]['name']!=item[1] or \
                       self.productos[item[0]]['unit']!=item[2] or \
                       self.productos[item[0]]['description']!=item[3]):
                newvalue = {'name': item[1],
                            'unit': item[2],
                            'description': item[3]}
                console.log("saving item " + item[1])
                self['$gun'].get('productos').get(item[0]).put(newvalue)

    def change_tag(self):
        self['$gun'].get('productos').get(self.selected).get('tags').put(self.checkedCategories.join(','))

    def product_header(self):
        return [
            { 'name': 'ID', 'width': 0 },
            { 'name': 'Producto', 'width': 200 },
            { 'name': 'Unidad', 'width': 100 },
            { 'name': 'Descripción', 'width': 200 }
        ]

    def COMPUTED_categories(self):
        return ['Verduras', 'Frutas', 'Limpieza', 'Panadería']

    def COMPUTED_data(self):
        return [[item, self.productos[item].name or '',
                       self.productos[item].unit or '',
                       self.productos[item].description or '']
            for item in self.productos
            if self.productos.get(item)!=None]

    def COMPUTED_query_result(self):
        if len(self.query)==0:
            return []
        return [self.productos[item] for item in self.productos
            if self.productos[item] and
            (self.query.lower() in self.productos[item].name.lower() or
            self.query.lower() in self.productos[item].description.lower())]

    async def reset_tags(self):
        tag = await self['$gun'].get('productos').get(self.selected).get('tags')
        if tag:
            self.checkedCategories = tag.split(',')
        else:
            self.checkedCategories = []

    async def WATCH_selected(self, newselected, oldselected, name='selected'):
        await self.reset_tags()

</script>

<style scoped>
.grid > div:nth-child(2) {
    height: unset !important;
}
article.tab-content {
    overflow-y: auto;
    max-height: 62vh;
}
.logo {
    margin: auto;
    font-size: 2em;
    display: inline-block;
}
</style>
